<div class="col-md-8">
	<div class="col-md-4">
		<img src="images/icon-person.png"/>
	</div>
	<div class="col-md-4">
		<label>User Name:</label>
		<input type="text" data-ng-model="user_name" required="required" class="form-control" />
	</div>
	<div class="col-md-4">
		<label>E-Mail Address:</label>
		<input type="email" data-ng-model="email" required="required" class="form-control" />
	</div>
	<div class="col-md-4">
		<label>
			Location:
		</label>
		<select
			class="form-control"
			data-ng-model="location"
			data-ng-options="location.id as location.name for location in locations"
			data-ng-init="location == location.id"
			required
		>
			<option value="">--Select--</option>
		</select>
	</div>
	<div class="col-md-4">
		<label>Telephone:</label>
		<input type="text" data-ng-model="telephone" required="required" class="form-control" />
	</div>
	<div class="col-md-4">
		<label>Fax:</label>
		<input type="text" data-ng-model="fax" class="form-control" />
	</div>
</div>
<div class="col-md-4">
	<div class="col-md-12">
		<label>
			Address:
		</label>
		<textarea
			data-ng-model="address"
			required="required"
			class="form-control"
			rows="5"
		></textarea>
	</div>
	<div class="col-md-12">
		<label>Detail:</label>
		<textarea
				ui-tinymce="tinymceOptions"
				data-ng-model="detail"
				id="detail"
				class="form-control"
		></textarea>
	</div>
</div>
<div class="panel-body">
	<ul class="accountLinkList">
		<li>
			<i class="fa fa-user"></i>
			<a href="account.php#/account/edit">
				<span data-ng-if="language_id == 1 ">
					View or change my account information.
				</span>
				<span data-ng-if="language_id == 2">
					មើលឬផ្លាស់ប្តូរពគណនីរបស់ខ្ញុំ
				</span>
			</a>
		</li>
		<li>
			<i class="fa fa-gears"></i>
			<a href="account_password.php">
				<span data-ng-if="language_id == 1 ">
					Change my account password.
				</span>
				<span data-ng-if="language_id == 2">
					ផ្លាស់ប្តូរពាក្យសម្ងាត់នៃគណនីរបស់ខ្ញុំ
				</span>
			</a>
		</li>
	</ul>
</div>
