<div class="col-md-8">
	<div class="col-md-4">
		<img src="images/icon-person.png" ng-hide="photo_thumbnail" style="margin-bottom: 10px;"/>
		<img
			ng-show="photo_thumbnail"
			class="thumb"
			src="images/{{photo_thumbnail}}"
			style="margin-bottom: 10px;"
		>
	</div>
	<div class="col-md-4">
		<label>User Name:</label>
		<span data-ng-bind="user_name"></span>
	</div>
	<div class="col-md-4">
		<label>E-Mail Address:</label>
		<span data-ng-bind="email"></span>
	</div>
	<div class="col-md-4">
		<label>
			Location:
		</label>
		<span data-ng-bind="location_name" data-ng-show="location > 0"></span>
	</div>
	<div class="col-md-4">
		<label>Telephone:</label>
		<span data-ng-bind="telephone"></span>
	</div>
	<div class="col-md-4" data-ng-show="type == 'agency' || type == 'member'">
		<label>Fax:</label>
		<span data-ng-bind="fax"></span>
	</div>
</div>
<div class="col-md-4" data-ng-show="type == 'agency' || type == 'member'">
	<div class="col-md-12">
		<label>
			Address:
		</label>
		<span data-ng-bind-html="address"></span>
	</div>
	<div class="col-md-12">
		<label>Detail:</label>
		<span data-ng-bind-html="detail"></span>
	</div>
</div>
<div class="col-md-12">
	<a href="account.php#/account/edit">
		<button class="btn btn-primary" style="margin-bottom: 5px;">
			<i class="fa fa-user"></i>
			<span data-ng-if="language_id == 1 ">
				Change my account information
			</span>
			<span data-ng-if="language_id == 2">
				មើលឬផ្លាស់ប្តូរពគណនីរបស់ខ្ញុំ
			</span>
		</button>
	</a>
	<a href="account_password.php">
		<button class="btn btn-default" style="margin-bottom: 5px;">
			<i class="fa fa-gears"></i>
			<span data-ng-if="language_id == 1 ">
				Change my account password
			</span>
			<span data-ng-if="language_id == 2">
				ផ្លាស់ប្តូរពាក្យសម្ងាត់នៃគណនីរបស់ខ្ញុំ
			</span>
		</button>
	</a>
</div>
