<div class="panel-body">
	<ul class="accountLinkList">
		<li>
			<i class="fa fa-user"></i>
			<a href="account.php#/account/edit">
				<span data-ng-if="language_id == 1 ">
					View or change my account information.
				</span>
				<span data-ng-if="language_id == 2">
					មើលឬផ្លាស់ប្តូរពគណនីរបស់ខ្ញុំ
				</span>
			</a>
		</li>
		<li>
			<i class="fa fa-gears"></i>
			<a href="account_password.php">
				<span data-ng-if="language_id == 1 ">
					Change my account password.
				</span>
				<span data-ng-if="language_id == 2">
					ផ្លាស់ប្តូរពាក្យសម្ងាត់នៃគណនីរបស់ខ្ញុំ
				</span>
			</a>
		</li>
	</ul>
</div>
