<div class="panel-body">
	<div class="row">
		<div class="col-md-3">
			<button
				class="btn btn-default"
				onclick="location.href='account.php#/manage_news/post';"
			>
				<span class="glyphicon glyphicon-plus-sign"></span>
				Post News
			</button>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="form-group has-feedback col-sm-4">
					<input
						type="text"
						placeholder="Search Title..."
						style="width: 106%;"
						class="form-control"
						data-ng-model="search_title"
						data-ng-keypress="($event.which === 13) ? search() : 0"
					/>
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback col-sm-4">
					<input
						type="text"
						placeholder="Search Id..."
						style="width: 106%;"
						class="form-control"
						data-ng-model="id"
						data-ng-keypress="($event.which === 13) ? search() : 0"
					/>
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback col-sm-4">
					<select
						data-ng-model="news_type_id"
						data-ng-options="type.id as type.name_en for type in newsType.elements"
						class="form-control"
						data-ng-change="search();"
						required
					>
						<option value="">--Filter News Type--</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<table class="table table-bordered table-striped">
		<thead>
			<th>
				Id
			</th>
			<th>
				Type
			</th>
			<th>
				Title EN
			</th>
			<th>
				Content EN
			</th>
			<th>
				Status
			</th>
			<th width="150px">
				Action
			</th>
		</thead>
		<tr data-ng-repeat="n in news.elements">
			<td>
				{{n.id}}
			</td>
			<td>
				{{n.type[0].name_en}}
			</td>
			<td>
				<span data-ng-repeat="i in n.detail">
					<span data-ng-show="i.language_id == 1">
						{{i.title}}
					</span>
				</span>
			</td>
			<td>
				<span data-ng-repeat="i in n.detail">
					<span data-ng-show="i.language_id == 1">
						<span data-ng-bind-html="i.content | limitTo:100"></span>
					</span>
				</span>
			</td>
			<td>
				<span data-ng-if="n.status == 0" class="label label-danger">
					Pending
				</span>
				<span data-ng-if="n.status == 1" class="label label-success">
					Approve
				</span>
			</td>
			<td>
				<button
					class="btn"
					data-ng-click="edit(n.id);"
					data-toggle="tooltip"
					data-placement="top"
					title="edit"
					tooltip
				>
					<span class="fa fa-pencil-square-o"></span>
				</button>
				<button
					class="btn"
					data-ng-click="remove(n.id, $index);"
					data-placement="bottom"
					title="delete"
					tooltip
				>
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<a href="news.php#/{{n.type[0].id}}/{{n.id}}" target="_blank">
					<button
						class="btn"
						data-ng-click="link(n.id);"
						data-toggle="tooltip"
						data-placement="right"
						title="view"
						tooltip
					>
						<span class="fa fa-eye"></span>
					</button>
				</a>
			</td>
		</tr>
	</table>
	<div
		data-ng-if="news.elements == 0"
	>
		<div class="alert alert-warning alert-dismissible">
			<strong>Warning!</strong> No News Post.
		</div>
	</div>
	<div
		data-ng-if="!news"
		class="align_center"
	>
	<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
	</div>
	<div
		class="panel-footer"
	>
		<pagination
			total-items="totalItems"
			ng-model="currentPage"
			ng-change="pageChanged()"
			max-size="5"
			items-per-page="10"
			boundary-links="true"
		></pagination>
	</div>
</div>
