<div class="table-responsive">
    <div class="membership-pricing-table">
        <table width="99%">
            <tbody>
                <tr>
                    <th></th>
                    <th class="plan-header plan-header-free">
                        <div class="pricing-plan-name">Standard</div>
                        <div class="pricing-plan-price">
                            <sup>$</sup>0<span>.00</span>
                        </div>
                        <div class="pricing-plan-period">month</div>
                    </th>
                    <th class="plan-header plan-header-blue">
                        <div class="pricing-plan-name">Silver </div>
                        <div class="pricing-plan-price">
                            <sup>$</sup>4<span>.99</span>
                        </div>
                        <div class="pricing-plan-period">month</div>
                    </th>
                    <th class="plan-header plan-header-standard">
                        <div class="header-plan-inner">
                            <div class="pricing-plan-name">Gold</div>
                            <div class="pricing-plan-price">
                                <sup>$</sup>34<span>.99</span>
                            </div>
                            <div class="pricing-plan-period">month</div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td class="action-header">
                        <div class="current-plan">
                            <div class="with-date">Current Plan</div>
                            <div><em class="smaller block">renews Feb 19, 2015</em></div>
                        </div>
                    </td>
                    <td class="action-header">
                        <a class="btn btn-success">
                            Upgrade
                        </a>
                    </td>
                    <td class="action-header">
                        <a class="btn btn-info">
                            Upgrade
                        </a>
                    </td>
                </tr>
                <tr data-ng-repeat="p in planDescriptions">
                    <td>
                        <span data-ng-bind-html="p.plan_text"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.standard_info"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.silver_info"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.gold_info"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>