<div class="table-responsive">
    <div class="membership-pricing-table">
        <table width="99%">
            <tbody>
                <tr>
                    <th></th>
                    <th class="plan-header" data-ng-repeat="p in planPrice"
                        data-ng-class="$index == 0 ? 'plan-header-free' : $index == 1 ? 'plan-header-blue' : 'plan-header-standard'">
                        <div class="pricing-plan-name">
                            {{p.plan_name}}
                        </div>
                        <div class="pricing-plan-price">
                            {{p.price | currency}}
                        </div>
                        <div class="pricing-plan-period">month</div>
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td class="action-header" data-ng-repeat="p in planPrice">
                        <div class="current-plan">
                            <div data-ng-show="currentPlan == p.id">
                                <div class="with-date">
                                    Current Plan
                                </div>
                                <em class="smaller block" data-ng-if="currentPlan != 1">
                                    <span class="label label-danger">expire:  {{currentPlanExpire | date: 'dd-MMM-yyyy'}}</span>
                                </em>
                            </div>
                            <a class="btn btn-success" data-ng-click="upgrade(p.id);" data-ng-hide="currentPlan == p.id">
                                <span data-ng-bind="currentPlan >= p.id ? 'Downgrade' : 'Upgrade'">
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="p in planDescriptions">
                    <td>
                        <span data-ng-bind-html="p.plan_text"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.standard_info"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.silver_info"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="p.gold_info"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>