<div class="panel-body">
	<div
		class="label label-info"
		style="
			padding: 10px;
			font-size: 14px;
			font-weight: 500;
			border-radius: 0px;
		">
		Total of Items: {{totalItems}}
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-md-2">
			<button
				class="btn btn-default"
				style="max-height: 44px;padding-top: 5px;"
				onclick="location.href='account.php#/manage_property/post';"
			>
				<span class="glyphicon glyphicon-plus-sign"></span>
				Post Property
			</button>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control"
							   data-ng-model="id"
							   data-ng-change="search()"
							   ng-model-options="{ debounce: 1000 }"
							   placeholder="Search ID...">
						<span class="input-group-btn">
							<button class="btn btn-default">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control"
							   data-ng-model="search_title"
							   data-ng-change="search()"
							   ng-model-options="{ debounce: 1000 }"
							   placeholder="Search Title...">
						<span class="input-group-btn">
							<button class="btn btn-default">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-4">
					<select
						data-ng-model="category_id"
						data-ng-options="c.categories_id as c.categories_name for c in categoryList.elements"
						class="form-control"
						data-ng-change="search();"
						required
					>
						<option value="">Filter By Category</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<table class="table table-striped">
		<thead>
			<th width="5%">
				ID
			</th>
			<th width="60%">
				Title
			</th>
			<th width="18%">
				Price
			</th>
			<th width="7%">
				View
			</th>
			<th width="7%">
				Boost
			</th>
			<th width="5%">
				Action
			</th>
		</thead>
		<tr data-ng-repeat="p in products_post.elements">
			<td>
				{{p.products_id}}
			</td>
			<td>
				<span data-ng-bind="p.products_name"></span>
			</td>
			<td>
				<span data-ng-bind="p.products_price | currency"></span>
			</td>
			<td>
				<span data-ng-bind="p.products_viewed" class="label label-primary"></span>
			</td>
			<td>
				<div data-ng-if="p.products_promote > 1" style="text-align: center;">
					<img src="images/dollar_sign.jpg" data-ng-click="promote(p);" style="width: 35px;cursor: pointer;">
				</div>
				<div data-ng-if="p.products_promote == 0 || p.products_promote == 1" style="text-align: center;">
					<img src="images/dollar.jpg" data-ng-click="promote(p);" style="width: 60px;cursor: pointer;">
				</div>
			</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cog"></i>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a data-ng-click="link(p.products_id);" href="javascript:;">
								<i class="fa fa-eye"></i>
								View
							</a>
						</li>
						<li>
							<a data-ng-click="edit(p.products_id);" href="javascript:;">
								<i class="fa fa-edit"></i>
								Edit
							</a>
						</li>
						<li>
							<a data-ng-click="updateStatus(p);" href="javascript:;">
								<i ng-class="p.products_status == 0 ? 'fa fa-minus' : 'fa fa-check-square-o' " class="fa fa-check-square-o"></i>
								<span data-ng-bind="p.products_status == 0 ? 'Active' : 'Inactive'"></span>
							</a>
						</li>
						<li>
							<a data-ng-click="refreshDate(p);" href="javascript:;">
								<i class="fa fa-refresh"></i>
								Refresh
							</a>
						</li>
						<li>
							<a data-ng-click="remove($index, p.products_id);" href="javascript:;">
								<i class="fa fa-trash-o"></i>
								Delete
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
	<div
		data-ng-if="products_post.elements == 0"
	>
		<div class="alert alert-danger">
			<strong>Warning!</strong> Empty Data.
		</div>
	</div>
	<div
		data-ng-if="!products_post"
		class="align_center"
	>
	<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
	</div>
	<div
		class="panel-footer"
		data-ng-show="totalItems > 10"
	>
		<pagination
			total-items="totalItems"
			ng-model="currentPage"
			ng-change="pageChanged()"
			max-size="5"
			items-per-page="10"
			boundary-links="true"
		></pagination>
	</div>
</div>
