<div class="row" data-ng-show="editChange">
    <table class="table table-bordered table-striped">
        <thead>
        <th style="width: 80px;">
            Id
        </th>
        <th>
            Title
        </th>
        <th style="width: 80px;">
            Action
        </th>
        </thead>
        <tr data-ng-repeat="n in contents.elements">
            <td>
                {{n.id}}
            </td>
            <td>
                {{n.title}}
            </td>
            <td>
                <button
                    class="btn btn-default"
                    data-ng-click="edit(n);"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Edit"
                    tooltip
                >
                    <span class="fa fa-pencil-square-o"></span>
                </button>
            </td>
        </tr>
    </table>
    <div
        data-ng-if="contents.elements == 0"
    >
        <div class="alert alert-danger alert-dismissible">
            <strong>Warning!</strong> Empty Data.
        </div>
    </div>
    <div
        data-ng-if="!contents"
        class="align_center"
    >
        <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
    </div>
</div>

<div data-ng-show="!editChange">
    <h4>
        <label>Content</label>
    </h4>
    <button
        class="btn btn-default"
        data-ng-click="editChange = true"
    >
        Back
    </button>
    <button
        class="btn btn-success"
        data-ng-click="save();"
        data-ng-disabled="isDisabled">
        Save
    </button>
    <hr>
    <table class="table table-bordered table-responsive">
        <tr>
            <td width="100px">
                Title En:
                <img src="../includes/languages/english/images/icon.gif" style="width: 30px;border: none; ">
            </td>
            <td>
                <input
                    type="text"
                    class="form-control"
                    data-ng-model="page_detail[0].pages_title"
                    required="required"
                />
            </td>
        </tr>
        <tr>
            <td>
                Content En:
            </td>
            <td>
                <textarea
                    rows="15"
                    cols="10"
                    class="form-control"
                    ui-tinymce="tinymceOptions"
                    data-ng-model="page_detail[0].content"
                    required="required"
                ></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Title Kh:
                <img ng-src="../includes/languages/khmer/images/icon.gif" style="width: 30px;border: none; ">
            </td>
            <td>
                <input
                    type="text"
                    class="form-control"
                    data-ng-model="page_detail[1].pages_title"
                    required="required"
                    />
            </td>
        </tr>
        <tr>
            <td width="100px">
                Content Kh:
            </td>
            <td>
                <textarea
                    rows="15"
                    class="form-control"
                    ui-tinymce="tinymceOptions"
                    data-ng-model="page_detail[1].content"
                    required="required"
                    ></textarea>
            </td>
        </tr>
    </table>
</div>


