<table class="table table-striped table-bordered default-font">
	<tr>
		<th>
			#
		</th>
		<th>
			Plan Name
		</th>
		<th>
			Limit Product
		</th>
		<th>
			Price
		</th>
		<th>
			Action
		</th>
	</tr>
	<tr data-ng-if="!planPrice">
		<td colspan="4" align="center">
			<img src="images/icons/gettestr-large-spinner-orange.gif"/>
		</td>
	</tr>
	<tr
		data-ng-repeat="b in planPrice.elements"
	>
		<td>
			{{b.id}}
		</td>
		<td>
			<span data-ng-bind="b.plan_name"></span>
		</td>
		<td>
			{{b.limit_product}}
		</td>
		<td>
			{{b.price | currency}}
		</td>
		<td width="">
			<button
				class="btn btn-default"
				data-ng-click="edit(b);"
				data-toggle="tooltip"
				data-placement="top"
				title="Edit"
				tooltip
			>
				<span class="fa fa-pencil-square-o"></span>
			</button>
		</td>
	</tr>
</table>
<div
	data-ng-if="planPrice.elements == 0"
>
	<div class="alert alert-danger alert-dismissible">
		<strong>Warning!</strong> Empty Data.
	</div>
</div>

<form data-ng-submit="save();" name="myForm">
	<div
		class="modal fade"
		id="planPrice"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
					>
						<span>&times;</span>
					</button>
					<h4>
						<label>Plan Price</label>
					</h4>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-responsive">
						<tr>
							<td width="25%">
								Plan Name:
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="data.plan_name"
									required="required"
								/>
							</td>
						</tr>
						<tr>
							<td>
								Limit Product
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="data.limit_product"
								>
							</td>
						</tr>
						<tr>
							<td>
								Price
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="data.price"
								>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button
						class="btn btn-default"
						data-dismiss="modal"
					>
						Close
					</button>
					<button
						class="btn btn-primary"
						data-ng-disabled="isDisabled"
					>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


