<div class="col-md-9 col-sm-6 p_l_z content-area margin-to">
    <div class="blog-listing single-post col-md-12 p_z">
        <div
            data-ng-if="!news"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
        <div
            data-ng-if="news.count == 0"
            class="alert alert-info"
        >
            <p>
                No Data.
            </p>
        </div>
        <article data-ng-show="news">
            <h3
                class="entry-title"
                data-ng-bind="language_id == 1 ? title_en : title_kh"
            >
            </h3>
            <div class="entry-cover clearfix">
                <img src="images/{{image}}" alt="{{title_en}}">
            </div>
            <div class="entry-header">
                <div class="entry-meta">
                    <span class="">
                        <a title="{{title_en}}">
                            <i class="fa fa-clock-o"></i>
                            Posted On {{postDate | date}}
                        </a>
                    </span>
                    <span class="byline">
                        <i class="fa fa-user"></i>
                        <a title="{{createBy}}">
                            {{createBy}}
                        </a>
                    </span>
                    <span class="byline">
                        Share:
                        <i
                            class="fa fa-facebook-square share"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-type="sharer"
                            socialshare-text="720kb"
                            socialshare-url="http://www.freecambodia.net/sell-house-sell-p-1.html"
                            socialshare-popup-height="300"
                            socialshare-popup-width="400"
                            socialshare-trigger="click"

                            data-toggle="tooltip"
                            data-placement="left"
                            title="Share on Facebook"
                            tooltip
                        ></i>
                        <i
                            class="fa fa-twitter-square share"
                            socialshare
                            socialshare-provider="twitter"
                            socialshare-hashtags="720kb, apps, opensource, development, internet"
                            socialshare-via="twitter"
                            socialshare-text="720kb - test value is: {{test.testValue}}"
                            socialshare-url="http://www.freecambodia.net/sell-house-sell-p-1.html"
                            socialshare-popup-height="300"
                            socialshare-popup-width="400"
                            socialshare-trigger="click"

                            data-toggle="tooltip"
                            data-placement="top"
                            title="Share on Twitter"
                            tooltip
                        ></i>
                        <i
                            class="fa fa-google-plus-square share"
                            socialshare
                            socialshare-provider="google"
                            socialshare-url="http://www.freecambodia.net/sell-house-sell-p-1.html"
                            socialshare-popup-height="300"
                            socialshare-popup-width="400"
                            socialshare-trigger="click"

                            data-toggle="tooltip"
                            data-placement="right"
                            title="Share on google+"
                            tooltip
                        ></i>
                    </span>
                </div>
            </div>
            <div class="entry-content" data-ng-bind-html="language_id == 1 ? content_en : content_kh"></div>
        </article>
        <!-- Related Post -->
        <div class="related-post p_z row">
            <h3>Relate Post</h3>
            <div
                data-ng-if="newsOther.count == 0"
                class="alert alert-info"
            >
                <p>
                    No Posting.
                </p>
            </div>
            <div
                data-ng-if="!newsOther"
                class="align_center"
            >
                <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
            </div>
            <div class="col-md-4 col-sm-12" data-ng-repeat="n in newsOther.elements">
                <a title="" href="news.php#/{{n.type[0].id}}/{{n.id}}">
                    <img src="images/{{n.image_thumbnail}}" style="width: 240px;height: 185px;">
                </a>
                <a title="" href="news.php#/{{n.type[0].id}}/{{n.id}}">
                    <span data-ng-bind-html="language_id == 1 ? n.detail[0].title : n.detail[1].title "></span>
                </a>
            </div>
        </div><!-- Related Post /- -->

    </div>
</div>
<div search></div>