<div class="col-md-3 col-sm-6 p_r_z property-sidebar widget-area">
    <aside class="widget widget-search">
        <h2 class="widget-title">
            {{searchText}}
            <span>{{property}}</span>
        </h2>
        <form>
            <select
                data-ng-model="categories_id"
                data-ng-options="c.categories_name for c in categories.elements"
            >
                <option value="">{{category}}</option>
            </select>
            <select
                data-ng-model="location"
                data-ng-options="l.name for l in locations.elements"
            >
                <option value="">{{locationText}}</option>
            </select>
            <select ng-model="type">
                <option value="">{{kind_of}}</option>
                <option value="For Rent">For Rent</option>
                <option value="For Sale">For Sale</option>
                <option value="Both Sale and Rent">Both Sale and Rent</option>
            </select>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select
                    ng-model="bedFrom"
                    ng-options="n for n in [] | rangeNumber:50"
                    data-ng-selected="number_of_floors == n"
                >
                    <option value="">{{bedRoomFrom}}</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select
                    ng-model="bedTo"
                    ng-options="n for n in [] | rangeNumber:50"
                    data-ng-selected="number_of_floors == n"
                >
                    <option value="">{{bedRoomTo}}</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select data-ng-model="minPrice">
                    <option value="">{{minProPrice}}</option>
                    <option value="10000">$10000</option>
                    <option value="30000">$30000</option>
                    <option value="60000">$60000</option>
                    <option value="100000">$100000</option>
                    <option value="500000">$500000</option>
                    <option value="1000000">$1000000+</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select data-ng-model="maxPrice">
                    <option value="">{{maxProPrice}}</option>
                    <option value="10000">$10000</option>
                    <option value="30000">$30000</option>
                    <option value="60000">$60000</option>
                    <option value="100000">$100000</option>
                    <option value="500000">$500000</option>
                    <option value="1000000">$1000000+</option>
                </select>
            </div>
            <input type="submit" data-ng-click="search();" value="Search Now" class="btn">
        </form>
    </aside>
    <aside class="widget widget-property-featured">
        <h2 class="widget-title">
            {{featured}}
            <span>{{property}}</span>
        </h2>
        <div class="property-featured-inner" data-ng-repeat="p in products">
            <div class="col-md-4 col-sm-3 col-xs-2 p_z">
                <a title="Featured Post" href="-p-{{p.products_id}}.html">
                    <img src="images/{{p.products_image_thumbnail}}" alt="" />
                </a>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-10 featured-content">
                <a title="Featured Post" href="-p-{{p.products_id}}.html">
                    {{p.products_name}}
                </a>
                <h3>{{p.products_price | currency}}</h3>
            </div>
        </div>
    </aside>
</div>
