<div class="col-md-3 col-sm-6 p_r_z property-sidebar widget-area">
    <aside class="widget widget-search">
        <h2 class="widget-title">search<span>property</span></h2>
        <form>
            <select>
                <option value="selected">Property ID</option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
            <select>
                <option value="selected">Location</option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
            <select>
                <option value="selected">Type</option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
            <select>
                <option value="selected">Status</option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select>
                    <option value="selected">Beds</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select>
                    <option value="selected">Baths</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select>
                    <option value="selected">Min Price</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select>
                    <option value="selected">Max Price</option>
                    <option value="one">$3000</option>
                    <option value="two">$30000</option>
                    <option value="three">$300000</option>
                    <option value="four">$3000000</option>
                    <option value="five">$3000000000000000</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select>
                    <option value="selected">Min Sqft</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select>
                    <option value="selected">Max Sqft</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </div>
            <input type="submit" value="Search Now" class="btn">
        </form>
    </aside>

</div>