<div class="property-sidebar widget-area">
    <aside class="widget widget-search">
        <h2 class="widget-title">
            {{searchText}}
            <span>{{property}}</span>
        </h2>
        <form>
            <input type="search"
                   required="required"
                   ng-model="keywords"
                   name="keywords"
                   placeholder="{{language_id == 1 ? 'Search...' : 'ស្វែងរក...'}}"
                   class="form-control">
            <br>
            <select
                data-ng-model="categories_id"
                data-ng-options="c.categories_name for c in categories.elements"
            >
                <option value="">{{category}}</option>
            </select>
            <select
                data-ng-model="location"
                data-ng-options="l.name for l in locations.elements"
            >
                <option value="">{{locationText}}</option>
            </select>
            <select ng-model="type">
                <option value="">{{kind_of}}</option>
                <option value="For Rent">For Rent</option>
                <option value="For Sale">For Sale</option>
                <option value="Both Sale and Rent">Both Sale and Rent</option>
            </select>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select
                    ng-model="bedFrom"
                    data-ng-selected="number_of_floors == n"
                >
                    <option value="">{{bedRoomFrom}}</option>
                    <option value="1">1 Bed</option>
                    <option value="2">2 Bed</option>
                    <option value="3">3 Bed</option>
                    <option value="4">4 Bed</option>
                    <option value="5">5 Bed</option>
                    <option value="6">6 Bed</option>
                    <option value="7">7 Bed</option>
                    <option value="8">8 Bed</option>
                    <option value="9">9 Bed</option>
                    <option value="100">10+ Bed</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select
                    ng-model="bedTo"
                    data-ng-selected="number_of_floors == n"
                >
                    <option value="">{{bedRoomTo}}</option>
                    <option value="1">1 Bed</option>
                    <option value="2">2 Bed</option>
                    <option value="3">3 Bed</option>
                    <option value="4">4 Bed</option>
                    <option value="5">5 Bed</option>
                    <option value="6">6 Bed</option>
                    <option value="7">7 Bed</option>
                    <option value="8">8 Bed</option>
                    <option value="9">9 Bed</option>
                    <option value="100">10+ Bed</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_l_z">
                <select data-ng-model="minPrice">
                    <option value="">{{minProPrice}}</option>
                    <option value="30000">$30,000</option>
                    <option value="40000">$40,000</option>
                    <option value="50000">$50,000</option>
                    <option value="80000">$80,000</option>
                    <option value="100000">$100,000</option>
                    <option value="150000">$150,000</option>
                    <option value="200000">$200,000</option>
                    <option value="300000">$300,000</option>
                    <option value="400000">$400,000</option>
                    <option value="500000">$500,000</option>
                    <option value="1000000000">$1,000,000+</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 p_r_z">
                <select data-ng-model="maxPrice">
                    <option value="">{{maxProPrice}}</option>
                    <option value="30000">$30,000</option>
                    <option value="40000">$40,000</option>
                    <option value="50000">$50,000</option>
                    <option value="80000">$80,000</option>
                    <option value="100000">$100,000</option>
                    <option value="150000">$150,000</option>
                    <option value="200000">$200,000</option>
                    <option value="300000">$300,000</option>
                    <option value="400000">$400,000</option>
                    <option value="500000">$500,000</option>
                    <option value="1000000000">$1,000,000+</option>
                </select>
            </div>
            <input type="submit" data-ng-click="search();" value="Search Now" class="btn">
        </form>
    </aside>
    <aside class="widget widget-property-featured" ng-hide="true">
        <h2 class="widget-title">
            {{featured}}
            <span>{{property}}</span>
        </h2>
        <div class="property-featured-inner" data-ng-repeat="p in products">
            <div class="col-md-4 col-sm-3 col-xs-2 p_z">
                <a title="Featured Post" href="-p-{{p.products_id}}.html">
                    <img src="images/{{p.products_image_thumbnail}}" alt="" />
                </a>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-10 featured-content">
                <a title="Featured Post" href="-p-{{p.products_id}}.html">
                    {{p.products_name}}
                </a>
                <h3>{{p.products_price | currency}}</h3>
            </div>
        </div>
    </aside>
</div>
