<div class="col-md-9 col-sm-6 p_l_z content-area margin-to">
    <div class="blog-listing single-post col-md-12 p_z">
        <div
            data-ng-if="!agent"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
        <div
            data-ng-if="agent.count == 0"
            class="alert alert-info"
        >
            <p>
                No Data.
            </p>
        </div>

        <!-- Agent Detail Box -->
        <div class="agent-detail-box">
            <!-- col-md-4 -->
            <div class="col-md-4">
                <div class="s">
                    <div class="agent-img">
                        <img src="images/{{agent.photo_thumbnail}}" alt="{{agents.user_name}}">
                    </div>
                    <div class="agent-name">
                        <h4 data-ng-bind="agent.user_name"></h4>
                    </div>
                    <div>
                        <i class="fa fa-phone margin-right"></i>
                        {{agent.customers_telephone}}
                    </div>
                    <div>
                        <i class="fa fa-fax margin-right"></i>
                        {{agent.customers_fax}}
                    </div>
                    <div>
                        <i class="fa fa-envelope-o margin-right"></i>
                        <a
                            title="mail"
                            data-ng-bind="agent.customers_email_address"
                            href="mailto:{{agent.customers_email_address}}"
                        ></a>
                    </div>
                </div>
            </div><!-- col-md-4 /- -->
            <!-- col-md-8 -->
            <div class="col-md-8">
                <div class="about-agentd">
                    <p style="text-align: justify" data-ng-bind-html="agent.detail"></p>
                </div>
            </div><!-- col-md-8 /- -->
        </div><!-- Agent Detail Box -->
        <!-- Other Property -->
        <div class="other-properties row">
            <h3>MY LISTINGS</h3>
            <div
                data-ng-if="totalItems == 0"
                class="alert alert-info"
            >
                <p>
                    No Posting.
                </p>
            </div>
            <div
                data-ng-if="!productsAgents"
                class="align_center"
            >
                <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
            </div>
            <!-- col-md-4 -->
            <div class="col-md-4 rent-block" data-ng-repeat="p in productsAgents">
                <!-- Property Main Box -->
                <div class="property-main-box user-products">
                    <div class="property-images-box">
                        <a title="Property Image" href="-p-{{p.products_id}}.html">
                            <img src="images/{{p.products_image_thumbnail}}">
                        </a>
                        <h4>{{p.products_price | currency}}</h4>
                    </div>
                    <div class="property-details">
                        <a title="Property Title" href="-p-{{p.products_id}}.html">
                            {{p.products_name}}
                        </a>
                        <ul>
                            <li>
                                <i class="fa fa fa-institution"></i>
                                {{p.number_of_floors}}
                            </li>
                            <li>
                                <i>
                                    <img src="images/icon/bed-icon.png" alt="bed-icon">
                                </i>
                                {{p.bed_rooms}}
                            </li>
                            <li>
                                <i>
                                    <img src="images/icon/bath-icon.png" alt="bath-icon">
                                </i>
                                {{p.bath_rooms}}
                            </li>
                        </ul>
                    </div>
                </div><!-- Property Main Box /- -->
            </div>
            <!-- col-md-4 /- -->
        </div>
        <!-- Other Property -->
        <div class="clearfix">
            <!-- Pagination -->
            <pagination
                total-items="totalItems"
                ng-model="currentPage"
                ng-change="pageChanged()"
                max-size="5"
                items-per-page="9"
                boundary-links="true"
            ></pagination>
            <!-- Pagination /- -->
        </div>
    </div>
</div>
<div search></div>