/* override style css*/
body{
	font-size: 11px;
}
.headerBar {
	font-size: 11px;
}

.default-font{
	font-size: 12px;
}
.icon{
	width: 28px;
	cursor: pointer;
}
.thumb {
	width: 230px;
	margin-top: 10px;
}
form .progress {
	line-height: 15px;
}
.progress div {
	font-size: smaller;
	background: #3C64FF;
	width: 0;
	color: #ffffff;
	margin-top: 10px;
}
.align-left{
	float: left;
}
.align-right{
	float: right;
}